.banner-image {
    background-image: url("https://cdn.shopify.com/s/files/1/0366/2325/3549/files/bg-slideshow-v3.jpg?v=1584602399");
    height: 70vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* margin-top:20px; */
    margin-bottom:30px;
  }
   h1{
    color:lightcoral ;
  }